{% extends 'base.html.twig' %}

{% block title %}Hello ImagenesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/melan/OneDrive/Escritorio/test/src/Controller/ImagenesController.php'|file_link(0) }}">src/Controller/ImagenesController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/melan/OneDrive/Escritorio/test/templates/imagenes/index.html.twig'|file_link(0) }}">templates/imagenes/index.html.twig</a></code></li>
    </ul>
</div>
<div>hola</div>
{{form(form)}}
{% for imagen in imagenes %}
    <li><img src="{{asset('img/' ~ imagen.Archivo)}}" width="250" height="250"></li>
{% endfor %}
{% endblock %}
